@media (min-width: 768px) {
    .block_img_small {
        display: none;
    }
}

@media (max-width: 768px) {
    .block_img {
        display: none;
    }
    .block_img_small {
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pair {
        display: flex;
        gap: 10px;
    }
    .block_img_small .card img {
        border-radius: 10px;
        width: clamp(145px, 45vw, 360px);
        height: clamp(100px, 45vw, 260px);
    }
}

@media screen and (max-width: 670px) {
    .doctor_important_info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .doctor_important_info picture {
        text-align: center;
    }
    .block_img_small .card img {
        height: clamp(110px, 35vw, 220px);
    }
}

@media only screen and (min-width: 450px) {
    #slider #commands {
        margin: -45% 0 0 0;
        width: 100%;
        height: 50px;
    }
    #slider #commands label {
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    #slider #slides {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}
@media only screen and (max-width: 450px) {
    #slider #slides {
        padding: 2px 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    #slider #commands label {
        -moz-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
    #slide1:checked ~ #commands label:nth-child(2),
    #slide2:checked ~ #commands label:nth-child(3),
    #slide3:checked ~ #commands label:nth-child(4),
    #slide4:checked ~ #commands label:nth-child(5),
    #slide5:checked ~ #commands label:nth-child(1) {
        margin: 0;
    }
    #slide1:checked ~ #commands label:nth-child(5),
    #slide2:checked ~ #commands label:nth-child(1),
    #slide3:checked ~ #commands label:nth-child(2),
    #slide4:checked ~ #commands label:nth-child(3),
    #slide5:checked ~ #commands label:nth-child(4) {
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .doctor_important_info img {
        height: auto;
        max-width: 100%;
    }
}